@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;900&display=swap");
* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

body {
  background: #0e223a;
}

section {
  width: 100%;
  height: 100vh;
  z-index: -2;
  position: relative;
  scroll-snap-align: start;
}

.flex {
  display: flex;
}

.flex__row {
  flex-direction: row;
}

.flex__column {
  flex-direction: column;
}

.flex__center {
  justify-content: center;
}

.flex__space__around {
  justify-content: space-around;
}

.flex__center__items {
  align-items: center;
}

#show__scroll {
  width: 25px;
  position: absolute;
  bottom: 0;
  margin-left: 64px;
  margin-bottom: 12px;
}
#show__scroll h3 {
  overflow-wrap: anywhere;
}

#show__scroll hr {
  width: 0.1em;
  margin-left: 0.25em;
  margin-top: 1em;
  height: 2em;
  background: #fff;
}

@keyframes float {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -4em;
  }
  100% {
    margin-top: 0;
  }
}

.main__ilustration {
  position: absolute;
  width: 300px;
  z-index: -1;
  opacity: 0.3;
  animation: float 3s infinite;
}

nav {
  position: absolute;
  color: #fff;
  margin-left: 1em;
  top: 45%;
}

ul {
  list-style: none;
  gap: 2em;
}

body {
  scroll-behavior: smooth;
}

#card__container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@keyframes removeitself {
  from {
    top: 0px;
    opacity: 100%;
  }

  to {
    top: -1500px;
    opacity: 0;
  }
}

@keyframes showitself {
  0% {
    padding-top: 1500px;
    opacity: 0;
  }

  100% {
    padding-top: 0px;
    opacity: 100%;
  }
}

@keyframes hideTop {
  0% {
    padding-top: 0px;
    opacity: 100%;
  }
  100% {
    padding-top: 1500px;
    opacity: 0%;
  }
}

@keyframes showItselfFromTop {
  0% {
    top: -1500px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 100%;
  }
}

@keyframes showtext {
  0% {
    bottom: -250px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 100%;
  }
}

.hide__transition {
  animation: removeitself;
  animation-duration: 0.6s;
}

.hide__transition__bottom {
  animation: hideTop;
  animation-duration: 0.6s;
}

.show__transition {
  animation: showitself;
  animation-duration: 0.5s;
}

.show__transition__text {
  animation: showtext;
  animation-duration: 0.5s;
}

.show__transition__top {
  animation: showItselfFromTop;
  animation-duration: 0.5s;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.show__block {
  display: block;
}

.image__container {
  width: 50%;
  min-width: 600px;
  max-width: 1200px;
  margin-left: -50%;
}

.project__image {
  width: 100%;
  min-height: 500px;
  position: relative;
  z-index: -1;
  object-fit: cover;
}

.responsive__video {
  display: block;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
}

.w__100 {
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  #show__scroll {
    width: 10px;
  }
  #show__scroll h3 {
    font-size: 12px;
  }
  #website__section {
    flex-direction: column-reverse;
  }
  .image__container {
    margin-left: 0 !important;
  }
  .text__over {
    position: absolute;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .image__container {
    margin-left: 0 !important;
    min-width: 300px;
    max-width: 600px;
  }
  .text__over {
    width: 300px;
  }

  .text__over h1 {
    word-break: break-all;
  }
}
