@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap");
/*DESIGN SYSTEM*/
* {
  margin: 0;
  padding: 0;
}

a,
li {
  all: unset;
}

h1,
h3,
h5,
p,
span,
li {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h5 {
  font-weight: 300;
}

span {
  font-size: 12px;
  font-weight: 300;
}

/*----------*/

/*MAIN CONTAINER*/
main {
  margin-top: 4em;
}

body {
  color: #fff;
  background: #222;
}

body h1 {
  text-align: center;
}

#card__container {
  display: flex;
  overflow-x: scroll;
  padding-left: 4em;
  justify-self: center;
  padding-top: 3em;
}

/*----------*/
.card {
  margin-right: -50px;
  position: relative;
  z-index: 0;
  padding-top: 1em;
  color: #fff;
  height: 350px;
  min-width: 300px;
  max-width: 300px;
  box-shadow: -2rem 0 3rem -2rem #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 1em;
  transition: 0.5s all;
}

.card:hover {
  z-index: 1;
  margin-left: 30px;
  margin-right: 10px;
  transform: translateY(-1rem) rotate(3deg);
  border-radius: 1em;
  cursor: pointer;
  transition: 0.5s all;
}

ul {
  width: 80%;
}

.card p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.profile {
  display: flex;
  gap: 2em;
  align-items: center;
}

.profile img {
  width: 50px;
  height: 50px;
}

.profile h5:hover,
.profile img:hover,
li:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}
