@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap");
/*DESIGN SYSTEM*/
* {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

/*DESIGN SYSTEM*/

main h3 {
  text-align: center;
  margin-bottom: 4em;
}

main {
  margin-top: 4em;
}

body {
  color: #fff;
  background: #222;
}

nav {
  margin-left: 4em;
}

#movie__section__container {
  display: flex;
  justify-content: center;
}

#movie__section {
  width: 90%;
  display: flex;
  overflow-x: auto;
}

.relative__parent {
  margin-left: -30px;
  position: relative;
  z-index: 0;
  transition: 0.5s all;
  padding-top: 2em;
}
.relative__parent img {
  border-radius: 1em;
}

.relative__parent:hover {
  z-index: 1;
  margin-left: 50px;
  transform: translateY(-1rem) rotate(3deg);
}
