* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  background: #181818;
  min-height: 100vh;
}

body {
  max-width: 1200px;
  padding: 16px;
  margin: auto;
  color: #fff;
}

.flex {
  display: flex;
}

.flex__responsive {
  display: flex;
  justify-content: space-between;
}

.space__between {
  justify-content: space-between;
}

.title {
  font-size: 4rem;
}

.logo {
  font-size: 2rem;
}

.button__text {
  font-size: 1rem;
}

button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 32px;
}

button:hover {
  cursor: pointer;
}

.flex__column {
  flex-direction: column;
}

.button__visit {
  margin-top: 6rem;
  width: 200px;
  background: #fff;
  color: #181818;
  font-weight: 600;
  transition: 1s all;
}

.button_nav {
  transition: 1s all;
}

.button_nav:hover {
  background: #fff;
  color: #181818;
  transition: 1s all;
}

.button__visit:hover {
  background: #181818;
  color: #fff;
  transition: 1s all;
}

.workout__image {
  width: 25vw;
  min-width: 150px;
  max-width: 250px;
}

.info__section {
  margin-top: 5rem;
  max-width: 50vw;
}

@media only screen and (max-width: 1000px) {
  :root {
    font-size: 12px;
  }
  .workout__image {
    margin: auto;
  }
  .flex__responsive {
    flex-direction: column-reverse;
  }
  .info__section {
    margin: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6.5rem;
  }
}
